<!-- <template>
  <div class="container">
    <form class="form-container">
      <div class="circle-container animated">
        <img src="https://media.discordapp.net/attachments/1204279639430664222/1215160166379687976/9e09d9fc-fa79-4f98-9583-6cdfc29dc7ef.webp?ex=65fbbd18&is=65e94818&hm=3efc8b4d4d862deb4a5564d12518437ccb23f092b69fc8c86b57f975ba6f2ad9&=&format=webp&width=702&height=702" alt="login-image" class="circle-image" />
      </div>
      <h1 class="block text-center text-gray-700 text-4xl mb-5 font-bold mb-2 judson">LOGIN</h1>

      <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5">
        <i class="fa fa-user text-black mx-3"></i>
        <input v-model="email" type="text" placeholder="Email" class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full" />
      </div>
      <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5">
        <i class="fa fa-lock text-black mx-3"></i>
        <input v-model="password" :type="showPassword ? 'text' : 'password'" placeholder="Password" class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full" />
        <button @click.prevent="showPassword = !showPassword" class="text-sm text-gray-700">
          <i :class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>

      <button @click="login" class="bg-blue_button hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" style="border-radius: 40px; height: 50px">LOGIN</button>
      <v-btn color="error" @click="reset" style="margin-top: 10px; border-radius: 40px;">RESET</v-btn>
    </form>
  </div>
</template> -->

<template>
  <div class="container">
    <form class="form-container">
      <!-- <div class="circle-container animated">
        <img src="https://media.discordapp.net/attachments/1204279639430664222/1215160166379687976/9e09d9fc-fa79-4f98-9583-6cdfc29dc7ef.webp?ex=65fbbd18&is=65e94818&hm=3efc8b4d4d862deb4a5564d12518437ccb23f092b69fc8c86b57f975ba6f2ad9&=&format=webp&width=702&height=702" alt="login-image" class="circle-image" />
      </div> -->
      <div style="display: flex; justify-content: center; margin-bottom: 10px;">
        <img src="../image/diary.png" alt="login-image" style="width: 100px;"/>
      </div>
      <h1 class="block text-center text-gray-700 text-4xl mb-5 font-bold mb-2 judson">LOGIN</h1>

      <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5">
        <i class="fa fa-user text-black mx-3"></i>
        <input v-model="email" type="text" placeholder="Email" class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full" />
      </div>
      <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5">
        <i class="fa fa-lock text-black mx-3"></i>
        <input v-model="password" :type="showPassword ? 'text' : 'password'" placeholder="Password" class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full" />
        <button @click.prevent="showPassword = !showPassword" class="text-sm text-gray-700">
          <i :class="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>

      <div class="text-center"> <!-- Centering the login button -->
        <button @click="login" class="bg-blue_button hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" style="border-radius: 40px; height: 50px; width: 100%">LOGIN</button>
      </div>

      <v-btn color="error" @click="reset" style="margin-top: 10px; border-radius: 40px; width: 100%">RESET</v-btn>
    </form>
  </div>
</template>




<script lang="ts">
import { ref } from "vue";
import { useAuthStore } from "@/stores/auth";

export default {
  setup() {
    const email = ref("");
    const password = ref("");
    const authStore = useAuthStore();
    const showPassword = ref(false);

    const login = async () => {
  try {
    const loggedIn = await authStore.login(email.value, password.value);
    if (loggedIn) {
      console.log("Login successful");
      // Redirect or do something after successful login
    } else {
      console.log("Login failed");
      // Handle login failure
    }
  } catch (error) {
    console.error("Error during login:", error);
    // Handle error during login
  }
};



    const reset = () => {
      email.value = "";
      password.value = "";
    };

    return {
      email,
      password,
      login,
      reset,
      showPassword
    };
  }
}
</script>

<style scoped>
.animated img {
  animation: moveImage 2s ease-in-out infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9ad3bc, #d7f0c4, #cff6e0, #cbc8f3);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  background-color: #f6f1f1;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
}

.circle-container {
  text-align: center;
  margin-bottom: 20px;
}

.circle-image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}
</style>
