
  
<script setup lang="ts">

const items = [{ title: 'รับมือกับคนขี้อิจฉายังไงดีคะ', subtitle: 'สมาชิกหมายเลข 7840870' },
{ title: 'ซึมเศร้าเรื้อรัง เรียนหนังสือได้ไหมคะ?', subtitle: 'สมาชิกหมายเลข 7840871' },
{ title: 'เครียดมากค่ะ', subtitle: 'สมาชิกหมายเลข 7759171' },
{ title: 'How to ลดอาการตื่นเต้นหน่อยค่ะ', subtitle: 'สมาชิกหมายเลข 5659521' },
{ title: 'Sensitive กับทุกเรื่อง น้ำตามันไหลเอง', subtitle: 'สมาชิกหมายเลข 3686682' },
{ title: 'จะอยู่ร่วมกันคน Toxic ยังไง ?????', subtitle: 'สมาชิกหมายเลข 4421680' },
{ title: 'เกลียดตัวเองจนไม่อยากจะเห็นหน้าตัวเอง ปกติไหม?', subtitle: 'สมาชิกหมายเลข 7848527' },
{ title: 'โรงพยาบาลศัลยกรรมจมูกให้ไม่ดี ผู้รู้กฎหมายช่วยทีค่ะ', subtitle: 'สมาชิกหมายเลข 7815594' },
{ title: 'กลัวการอยู่คนเดียวไหม?', subtitle: 'สมาชิกหมายเลข 7868597' },
{ title: 'Infj เข้าใจอะไรได้ยาก อธิบายไม่เป็นจริงไหม', subtitle: 'สมาชิกหมายเลข 7017081' },
{ title: 'รับมือกับคนขี้อิจฉายังไงดีคะ', subtitle: 'สมาชิกหมายเลข 7840870' },
{ title: 'ซึมเศร้าเรื้อรัง เรียนหนังสือได้ไหมคะ?', subtitle: 'สมาชิกหมายเลข 7840871' },
{ title: 'เครียดมากค่ะ', subtitle: 'สมาชิกหมายเลข 7759171' },
{ title: 'How to ลดอาการตื่นเต้นหน่อยค่ะ', subtitle: 'สมาชิกหมายเลข 5659521' },
{ title: 'Sensitive กับทุกเรื่อง น้ำตามันไหลเอง', subtitle: 'สมาชิกหมายเลข 3686682' },
{ title: 'จะอยู่ร่วมกันคน Toxic ยังไง ?????', subtitle: 'สมาชิกหมายเลข 4421680' },
{ title: 'เกลียดตัวเองจนไม่อยากจะเห็นหน้าตัวเอง ปกติไหม?', subtitle: 'สมาชิกหมายเลข 7848527' },
{ title: 'เกลียดตัวเองจนไม่อยากจะเห็นหน้าตัวเอง ปกติไหม?', subtitle: 'สมาชิกหมายเลข 7848527' },
{ title: 'เกลียดตัวเองจนไม่อยากจะเห็นหน้าตัวเอง ปกติไหม?', subtitle: 'สมาชิกหมายเลข 7848527' },
{ title: 'Infj เข้าใจอะไรได้ยาก อธิบายไม่เป็นจริงไหม', subtitle: 'สมาชิกหมายเลข 7017081' },]
</script>
<template>
    <!-- <v-card style="background-color: bisque;"> -->
        <p style="text-align: center;font-family:'Times New Roman', Times, serif" class="mb-10 text-h4">Follow the things in
            your heart</p>
        <div class="card" style="height: 100vh;">
            <v-container style="width: 100vw;">
                <v-row class="card">
                    <v-col v-for="(item, index) in items" :key="index" cols="12" sm="4" class="cards">
                        <v-card class="card-equal-height" style="background-color: beige;">
                            <v-card-item>
                                <v-card-title>{{ item.title }}</v-card-title>
                                <v-card-subtitle>{{ item.subtitle }}</v-card-subtitle>
                            </v-card-item>
                            <v-card-text class="d-flex justify-end">
                                <v-btn>See All</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    <!-- </v-card> -->
</template>

<style scoped>
.cards {
    max-width: 500px;
}
</style>


