<script lang="ts" setup>
import router from '@/router';
import { usePostStore } from '@/stores/post'
import { onMounted, ref, computed } from 'vue'

const postStore = usePostStore()
const currentPage = ref(1)
const postsPerPage = 12
const postId = ref()

console.log(postId.value)

onMounted(async () => {
  await postStore.getPosts()
})

const paginatedPosts = computed(() => {
  const startIndex = (currentPage.value - 1) * postsPerPage
  const endIndex = startIndex + postsPerPage
  return postStore.posts.slice(startIndex, endIndex)
})

function goToPage(pageNumber: number) {
  currentPage.value = pageNumber
}

function goToSeeAll(pageNumber: number) {
  router.push('/seeAll'+'/'+pageNumber)
}
</script>

<template>
   <!-- <v-card style="background-color: bisque;"> -->
    <p style="text-align: center;font-family:'Times New Roman', Times, serif" class="mb-10 text-h4">Follow the things in
            your heart</p>
        <div class="card" style="height: 100vh;">
            <v-container style="width: 100vw;">
                <v-row class="card">
                    <v-col v-for="post in paginatedPosts" :key="post.id" cols="12" sm="4" class="cards">
                        <v-card class="card-equal-height" style="background-color: beige;">
                            <v-card-item>
                                <v-card-title>{{ post.title }}</v-card-title>
                                <v-card-subtitle>{{ post.txtContent }} </v-card-subtitle>
                            </v-card-item>
                            <v-card-text class="d-flex justify-end">
                                <v-btn @click="goToSeeAll(post.id)">See All</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </div>
    <!-- </v-card> -->
  <!-- <v-row>
    <v-col v-for="post in paginatedPosts" :key="post.id" cols="12" md="6" lg="4">
      <v-card class="mb-4">
        <v-card-title>
          <h2 class="headline">{{ post.title }}</h2>
        </v-card-title>
        <v-card-text>
          <p>{{ post.txtContent }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn text color="primary" :href="post.source">Source</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row> -->
  <v-pagination v-model="currentPage" :length="Math.ceil(postStore.posts.length / postsPerPage)" @change="goToPage" />
</template>
