<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { onMounted, ref, watch } from 'vue'

import { mdiHome, mdiLogout, mdiHistory, mdiHeartOutline, mdiHeart, mdiMenuClose } from '@mdi/js'

const authStore = useAuthStore()
const user = ref<any | null>(localStorage.getItem('user'))
const user_ = JSON.parse(user.value)
const employee = ref<any | null>(localStorage.getItem('employee'))
const employee_ = JSON.parse(employee.value)
const url = import.meta.env.VITE_URL_PORT
</script>

<template>
  <v-navigation-drawer expand-on-hover rail app color="brown">
    <!-- <v-card>
      <v-card-text>
        <span v-if="user">Welcome, {{ user.username }}</span>
        <span v-else>Welcome, Guest</span>
      </v-card-text>
    </v-card> -->

    <v-list density="compact" nav>
      <v-list-item v-if="user" :prepend-icon="mdiMenuClose">
        Welcome, {{ user.username }}
      </v-list-item>
      <v-list-item v-else :prepend-icon="mdiMenuClose"> Welcome, Guest </v-list-item>

      <!-- <v-list-item :prepend-icon="mdiHome" title="mock ui" value="home page" to="/"></v-list-item> -->

      <v-list-item
        :prepend-icon="mdiHome"
        title="Post All"
        value="Post All"
        to="/post"
      ></v-list-item>

      <!-- <v-list-item :prepend-icon="user ? mdiHeart : mdiHeartOutline" title="Post All" value="Post All"
        to="/post"></v-list-item> -->

      <v-list-item
        :prepend-icon="mdiHistory"
        title="History Taging"
        value="History Taging"
        to="/hisTag"
      ></v-list-item>

      <v-list-item
        :prepend-icon="mdiLogout"
        title="Logout"
        value="Logout"
        to="/login"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
