<script setup lang="ts">
import router from '@/router';
import { onMounted, onUnmounted, ref } from 'vue';



const currentTime = ref(new Date().toLocaleTimeString());
const currentDate = new Date();
const currentFormattedDate = new Intl.DateTimeFormat("en-US", {
  weekday: "short",
  year: "numeric",
  month: "short",
  day: "numeric",
}).format(currentDate);


const updateCurrentTime = () => {
  currentTime.value = new Date().toLocaleTimeString();
};

function goToHistoryTagDe() {
  router.push('/hisTagDe')
}

// Function to update the current time every second
onMounted(async () => {
  updateCurrentTime();
  // Set up an interval to update the time every second
  const intervalId = setInterval(updateCurrentTime, 1000);

  // Clear the interval when the component is unmounted to avoid memory leaks
  onUnmounted(() => {
    clearInterval(intervalId);
  });
});

</script>

<template>
  <v-container>
    <v-row align="center">
      <v-col cols="12" sm="8">
        <div>
          <h1>History Taging</h1>
        </div>
        <v-text-field label="Search" hide-details="auto" class="mb-2 w-100"></v-text-field>
      </v-col>
      <v-col cols="12" sm="1">
        <div>
          <img src="../image/search.png" alt="Search Image" width="40" height="40" />
        </div>
      </v-col>
      <v-col cols="12" sm="3">
        <div>
          <h4>Date: {{ currentFormattedDate }} {{ currentTime }}</h4>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card height="500px" width="1150px">
          <v-table>
            <thead>
              <tr>
                <th class="text-left">
                  Topic
                </th>
                <th class="text-left">
                  Content
                </th>
                <th class="text-left">
                  Username
                </th>
                <th class="text-left">
                  Tagging
                </th>
                <th class="text-left">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รับมือกับคนขี้อิจฉายังไงดีคะ</td>
                <td>สวีสดีค่ะ หนูเป็นนัศึกษาพยาบาลชั้นปีที่สอง มหาวิทยาลัยแห่งหนึ่งทางภาคเหนือค่ะ ...</td>
                <td>สมาชิกหมายเลข 7840870</td>
                <td>Normal</td>
                <td>
                  <v-btn @click="goToHistoryTagDe()">
                    <img src="../image/eyes.png" alt="Eye Image" width="30" height="30" />
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>


  </v-container>
</template>
