
<script setup lang="ts">
import router from '@/router';
import { onMounted, onUnmounted, ref } from 'vue';



const currentTime = ref(new Date().toLocaleTimeString());
const currentDate = new Date();
const currentFormattedDate = new Intl.DateTimeFormat("en-US", {
  weekday: "short",
  year: "numeric",
  month: "short",
  day: "numeric",
}).format(currentDate);


const updateCurrentTime = () => {
  currentTime.value = new Date().toLocaleTimeString();
};

function goToHistoryTag() {
  router.push('/hisTag')
}

// Function to update the current time every second
onMounted(async () => {
  updateCurrentTime();
  // Set up an interval to update the time every second
  const intervalId = setInterval(updateCurrentTime, 1000);

  // Clear the interval when the component is unmounted to avoid memory leaks
  onUnmounted(() => {
    clearInterval(intervalId);
  });
});
</script>

<template>
 <v-container>
  <v-row style="left: 0%;">
      <v-col>
        <div @click="goToHistoryTag()">
          <img src="../image/arrow.png" alt=" Image" width="40" height="40" />
        </div>
  
      </v-col>
    </v-row>
 </v-container>
  <v-container>
    <v-row align="center">
      <v-col cols="12" sm="8">
        <div>
          <h1>History Taging Detail</h1>
        </div>
        
      </v-col>
      <v-col col="12" sm="4" style="justify-content: end;" >
        <div>
          <h4>Date: {{currentFormattedDate}} {{ currentTime }}</h4>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card height="500px" width="1050px">
          <v-row style="margin-top: 10px;">
            <v-col style="margin-left: 20px;">
              <div>
                <h3>Topic:</h3>
              </div>
            </v-col>
            <v-col cols="12" sm="10">
              <div>
                <h4>รับมือกับคนขี้อิจฉายังไงดีคะ</h4>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col style="margin-left: 20px; margin-top: 5px;">
              <div>
                <h3>Content:</h3>
              </div>
            </v-col>
            <v-col cols="12" sm="10">
              <v-card height="200px" width="800px">
              <div>
                <p >สวีสดีค่ะ หนูเป็นนักศึกษาพยาบาลชั้นปีที่สอง มหาวิทยาลัยแห่งหนึ่งทางภาคเหนือค่ะ  
                  เรื่องมีอยู่ว่าครอบครัวของป้าหนูค่ะ เป็นพี่สาวพ่อ ครอบครัวเขาประกบไปด้วย 
                  ป้า น้าที่เป็นลูกป้า แฟนน้า แล้วก็หลานป้าค่ะ อายุพอๆกับหนูค่ะ หนูจะเล่าแบบรวบรัดนะคะ 
                  แล้วก้หนูอยากจะถามผู้ใหญ่ทุกท่านว่าคิดเห็นอย่างไรกับเรื่องนี้ค่ะ 
                  คือบ้านนี้อะค่ะ มีปัญหากับญาติหลายคนแล้ว เพราะพวกเขาชอบทำตัวอวดเบ่ง อวดรวย  
                  ซึ่งก็รวยๆจริงๆนั่นแหละค่ะ แบบไม่เห็นหัวคนอื่น ใช้คำพูดเสียดแทงมากค่ะ 
                  ตอนเด็กๆหนูก็เคยโดนดูถูก ที่จำขึ้นใจนะคะ ประมาณว่า หนูเรียน รร รัฐบาล แต่ลูกน้า(อายุน้อยกว่าหนู 1 ปี ) 
                  เรียนเอกชน อย่าเอามาเทียบกันนะ มันคนละชั้นกัน ประมาณว่า อย่าเอาตัวไปเทียบกับลูกหลานเขาอะค่ะ 
                  ซึ่งเมื่อก่อนตอนหนูยังเด็กหนูกับบ้านนั้นไม่มีปัญหากันค่ะ เพราะหนูไม่ได้คิดอะไร แต่ก็ชอบโดนป้าดุบ่อยๆ เป็นเรื่องที่ 
                  ไม่มีเหตุผลเลย อยากดุก็ดุ เมื่อก่อนหนุเป็นคนเงียบค่ะ โดนว่าอะไรก้เงียบ เก็บมาคิดคนเดียว เป็นเด็กเก็บกดไปเลยค่ะ 
                  (ลืมบอกไปค่ะ หนูไปทำงานที่บ้านนั้นตั้งแต่ 
                  ป.3 - ม.1 ค่ะ) </p>
              </div>
            </v-card>
          </v-col>
          </v-row>
          <v-row style="margin-bottom: 10px;">
            <v-col style="margin-left: 20px; ">
              <div>
                <h3>Username:</h3>
              </div>
            </v-col>
            <v-col cols="12" sm="3" style="margin-left: 20px; ">
              <div>
                <h4>สมาชิกหมายเลข 7840870</h4>
              </div>
            </v-col>
            <v-col cols="12" sm="3" style="margin-left: 20px; ">
              <div>
                <h3>Result Taging:</h3>
              </div>
            </v-col>
            <v-col cols="12" sm="3" style="margin-right: 40px; ">
              <div>
                <h4>Normal</h4>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>


  </v-container>
</template>
