<script lang="ts" setup>
import { usePostStore } from '@/stores/post';
import { onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const postStore = usePostStore();
onMounted(async () => {
    const routeName = route.params.id;
    console.log(routeName);
    await postStore.getPostById(parseInt(routeName.toString()));
});

function selectFaceNormal() {
    console.log('Normal');
}
function selectFaceBad() {
    console.log('Bad');
}

function selectFaceCannotSpecified() {
    console.log('Can not Specified');
}
</script>
<template>
    <v-container>
        <p style="text-align: center;font-family:'Times New Roman', Times, serif" class="mb-10 text-h4">Follow the things in
            your heart</p>
        <v-card class="full-screen" width="1200" height="400">
            <v-row>
                <v-col cols="4" sm="2" md="1">
                    <v-card-item>
                        <v-avatar size="45px">
                            <v-img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" contain></v-img>
                        </v-avatar>
                    </v-card-item>
                </v-col>
                <v-col class="hidden-xs-only text-left ms-2" sm="5" md="3">
                    <p class="mt-3 font-weight-bold text-h6">
                        {{  postStore.post?.user }}
                    </p>
                    <p class="text-body-1">
                        {{ postStore.post?.title }}
                    </p>
                </v-col>
            </v-row>
            <v-row class="hidden-xs-only text-left ms-4 mt-10 text-subtitle-1" sm="5" md="3">
                <p>{{ postStore.post?.content }}</p>
            </v-row>
        </v-card>
        <v-row>
            <v-col cols="12" sm="2" class="mt-10">
                <v-btn block rounded="lg" size="x-large">Submitted</v-btn>
            </v-col>
            <v-row justify="center">
                <v-col cols="auto" class="ma-10">
                    <div>
                        <img src="../image/shy.png" alt="Button Image" width="60" height="60" @click="selectFaceNormal()" />
                        <p style="text-align: center;">Normal</p>
                    </div>
                </v-col>
                <v-col cols="auto" class="ma-10">
                    <div>
                        <img src="../image/sad.png" width="60" height="60" @click="selectFaceBad()">
                        <p style="text-align: center;">Bad</p>
                    </div>
                </v-col>
                <v-col cols="auto" class="ma-10">
                    <div>
                        <img src="../image/sarcastic.png" width="60" height="60" @click="selectFaceCannotSpecified()">
                        <p style="text-align: center;">Cannot</p>
                        <p style="text-align: center;">Specified</p>
                    </div>
                </v-col>
            </v-row>
            <v-col cols="12" sm="2" class="mt-10">
                <v-btn block rounded="lg" size="x-large" to="/post">Cancel</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>
