<script setup lang="ts">
import FullLayout from "./components/Layout/FullLayout.vue";
import MainLayout from "./components/Layout/MainLayout.vue";
</script>
<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <MainLayout></MainLayout>
  <LoadingDialog></LoadingDialog>
</template>
<style scoped></style>
